button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:hover {
    cursor: pointer;
  }

#button-map {
    position: relative;
    z-index : 2;
    padding: 5px;
    width: 50%;
    margin: 0 auto;
    text-align : center;
}

.button-change {
    background-color: #1D63A2;
    color : white;
    border-radius: 5px;
    font-size: 18px;    
    height: 36px;
}